body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2; /* Cor de fundo para toda a página */
}

.container, .container .form-container {
    width: 100%; /* Estende a largura para ocupar toda a largura da tela */
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container, .search-container, .button-container {
    margin-bottom: 20px;
}

.form-container label, .search-container label {
    margin-right: 10px;
}

.form-container input, .search-container input {
    padding: 10px;
    width: calc(100% - 20px); /* 20px para o espaçamento dos lados */
    max-width: 100%;
    box-sizing: border-box; /* O tamanho total inclui padding e bordas */
}

.form-container button, .search-container button, .button-container button {
    padding: 8px 20px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    width: 100%;
    max-width: 200px; /* Defina o máximo de largura para evitar que o botão ocupe toda a largura em dispositivos maiores */
    box-sizing: border-box; /* O tamanho total inclui padding e bordas */
}

.form-container button:hover, .search-container button:hover, .button-container button:hover {
    background-color: #0056b3;
}

#barcodeTable {
    width: 100%;
    border-collapse: collapse;
}

#barcodeTable th, #barcodeTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#barcodeTable th {
    background-color: #f2f2f2;
}

.form-container input[type="text"],
.search-container input[type="text"] {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.form-container label,
.search-container label {
    display: inline-block;
    vertical-align: middle;
}

.highlighted {
    background-color: #ffff99; /* Cor de destaque */
}

/* Media queries para dispositivos móveis */
@media only screen and (max-width: 600px) {
    /* Ocultar o campo de data em dispositivos móveis */
    #barcodeTable th:last-child,
    #barcodeTable td:last-child {
        display: none;
    }

    /* Diminuir um pouco o tamanho do campo de nota em dispositivos móveis */
    #barcodeTable th:nth-child(2),
    #barcodeTable td:nth-child(2) {
        max-width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

